.location-items-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,auto);
    grid-gap: 20px;
    align-items: stretch;
    padding: 10px;
}
.location-item{
    min-width: 110px;
    max-width: 160px;
    min-height: 110px;
    /*padding: 10px;*/
    box-sizing: border-box;
}
.location-item:before{
    content: "";
    float:left;
    padding-top: calc(100% + 40px);
}
.item-select{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative
}
.item-select:hover {
    background-color: lightgrey;
    border-radius: 5px;
}
.item-icon{
    /*background-color: #1B5385;*/
    height: calc(100% - 40px);
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
}


.item-icon img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

.item-select-checkbox-container{
    transform: translate(10px,10px);
    position: relative;
    z-index: 2;
}
.item-select-checkbox-container input{
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    display: none;
}
.item-action-button-container{
    transform-origin: right;
    transform: translate(-10px,10px);
    z-index: 2;
    position: relative;
}
.item-action-button{
    position: absolute;
    right: 0;
    display: none;
}
.item-title{
    height: 40px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 20px;
}

.location-item:hover .item-select-checkbox-container input{
    display: block;
}
.location-item:hover .item-action-button{
    display: block;
}
.item-select-checkbox-container input:checked{
    display: block;
}

.selected{
    background-color: #b5e3b5;
    border-radius: 5px;
}
.selected:hover{
    background-color: #4CAF50;
    border-radius: 5px;
}