.path-navigation {
    margin-top: 15px;
    margin-left: 15px;
    font-size: larger;
}
.path-navigation .chevron{
    color: grey;
}
.path-navigation a {
    color: grey;
    text-decoration: none;
}

.path-navigation a:hover {
    text-decoration: underline;
}